<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display:400,500,600,700|Lato:300,400,700,900&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.2/jszip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
    <script>
        $(document).ready(async function () {
            var els = document.querySelectorAll(".block .quote");
            var images = [];
            
            var zip = new JSZip();
            var img = zip.folder("images");

            for (var i = 0; i < els.length; i++) {
                var el = els[i];
                var canvas = await html2canvas(el)
                var bse = canvas.toDataURL('image/jpeg', [0.0, 1.0]).split(',')[1];
                console.log('bse');
                img.file(`quote${i}.jpg`, bse, { base64: true });
            }
           
            zip.generateAsync({ type: "blob" })
                .then(function (content) {
                    console.log("ZIP Complete");
                    // see FileSaver.js
                    saveAs(content, "example.zip");
                });
        });
    </script>
</body>

</html>